# System files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# IDEs
.vscode/
.idea/

# Custom
.gemini/
artifacts/
temp/
